/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #6375b8;
}

h1, h2 {
    color: white;
    font-weight: bold;
    font-size: xx-large;
}
h1{
    font-size: 5rem;
}

/* Image Styles */
img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Text Container Styles */
.image-text-container, .map-text-container, .barchart-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-text-container p, .map-text-container p{
    width: 48%;
    box-sizing: border-box;
}

/* Map Styles */
#map {
    height: 400px;
    
}

.intro{
    color: white;
}

/* Bar Chart Styles */
#barchart1 {
    height: 300px;
    
}

.container {
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 5em;
}