 /* Apply basic styles to the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5em;
}

.image-text{

}

/* Style the headings */
h1, h2 {
    color: black;
}

/* Add some margin below the headings */
h1, h2 {
    margin-bottom: 10px;
}

/* Add some space between paragraphs */
p {
    margin-bottom: 20px;
}

/* Style the map and barchart sections */
.map-text, .barchart-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Set a maximum width for the map and barchart */
.map-text div, .barchart-text div {
    max-width: 45%;
}

/* Style the images */
img {
    max-width: 20em;
    height: auto;
    display: block;
    margin: 0 auto;
}
